
.error {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:var(--almond) ;
}

.error h2{
    font-size: 2rem;
    color: black;    
   
}

.error a{
    text-decoration: none;
    color:var(--dark-red);
    font-size: 2.5rem;
    font-weight: bolder;
    text-transform:capitalize;
}

.corazon img {
    border-radius: 5%;
    width: 100%; 
    
}