.ventana {
    width: 50%;
    height: 30%;
}

.error h2{
    font-size: 2rem;
    color: black;    
}

.error a{
    text-decoration: none;
    color: blueviolet;
    font-size: 2.5rem;
    font-weight: bolder;
}