
.texto img{
    width: 100%;
    margin: 1rem;
}

.galeria-principal{
    display: grid;
    grid-template-columns: repeat(1, 100%);
    grid-auto-rows: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
    
}

.galeria-item {
    position: relative;
}

.galeria-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5%;
   
}
.galeria-ley {
    display: grid;
    max-width: 300px;
    object-fit: cover;
    padding: 1rem;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows: 50px 50px 50px;
    grid-gap: 1rem;
}

.galeria-ley img{
    width: 60%;
    height: 60%;
}

.item1 {
    grid-row: 1 / 3;
}


@media (min-width:768px) {
    .galeria-principal {
        grid-template-columns: repeat(2, 70%);
    }
    
}  

@media (min-width:1024px) {
    .galeria-principal {
        grid-template-columns: repeat(3, 57%);
        width: 100%;
    }
    
}  
