.header {
    font-family:'Kaisei HarunoUmi', serif ;
    color:darkslategray;
    font-size: 2rem;
    padding: 10px;
}

.bigicon {
    font-family:'Kaisei HarunoUmi', serif;
    font-size: 35px;
    color: burlywood;
    padding: 10px;
    
}