.ley-trombofilia{
    padding: 2rem;

}

main .ley ul li{
    list-style-type: none;
    color: var(--liver);
    font-size: 2em;
}

main .ley p{
    color: var(--liver) ;
    font-size: 2rem;
    display: flex;
    justify-content: left
    ;
}
