.ley-trombofilia{
    padding: 2rem;

}

main .ley ul li{
    list-style-type: none;
    color: var(--liver);
    font-size: 1.5em;
    line-height: 2em;
}

main .ley p{
    color: var(--liver) ;
    font-size: 1em;
    line-height: 2em;
    display: flex;
    justify-content: left
    ;
}

.delimitador{

    width:70%;
    margin:auto;

}

.contenedor{

    height:0px;
    width:100%;
    padding-top:56.25%;
    position:relative;

}

iframe{

    position:absolute;
    height:100%;
    width:100%;
    top:0px;
    left:0px;
}

.firma a {
    text-decoration: none;
    text-align:center;
    font-size:1.5em;
    font-style:inherit;
    color:var(--deep-chestnut);
}