.ley-trombofilia{
    padding: 2rem;

}

main .ley ul li{
    list-style-type: none;
    color: var(--liver);
    font-size: 2em;
}

main .ley p{
    color: var(--liver) ;
    font-size: 2rem;
    display: flex;
    justify-content: left
    ;
}
/* .img2 {
    display:block;
    margin:auto;
    width: 50%;
    height: 50%;
    border-radius: 5%;
    margin-bottom: 1em;
    object-fit: cover;
    filter: drop-shadow(0 0 2px $liver);
} */


