.footer{
    background-image: linear-gradient(to top, #fefedf, #fbf6db, #f8efd7, #f3e8d3, #eee1d0);
    width: 17wv;
    display: flex;
    flex-direction:row;
    justify-content: flex-end;
    justify-content:space-evenly;

    &__link {
        text-decoration: none;
        text-align:center;
        font-size:x-large;
        font-style:inherit;
        color: var(--liver);
        margin: 1em;

    }
    &__link__img {
                    width: 6vh;   
            transform: scale(1,1);
    }
}