@mixin sizes ($width, $height){
    height: $height;
    width: $width;
    
}

header{
    @include sizes(100%,30%);
    font-size: 2rem;
}

.navbar {
    color: blue;
}

.logo__imagen {
    width: 20%;
    padding: 0;
    margin: 0;
    border: 2px solid #000;
    box-sizing: border-box;
}
