@mixin sizes ($width, $height){
    height: $height;
    width: $width;
    
}

header{
    @include sizes(100%,30%);
    font-size: 2em;
}

.navbar {
    color: blue;
}

.logo__imagen {
    width: 20%;
    padding: 0;
    margin: 1.5em;
    border: 2px solid #000;
    box-sizing: border-box;
    filter: drop-shadow(0 0 5px $liver);
    display:block;
    margin: auto;
    }


#nav-color {
    color:$cinereous;
    font-family: 'Kaisei HarunoUmi', serif;
    margin: 0rem 1rem;
    font-size: 2rem;
   
}

.contenido {
    display: grid;
    grid-template-columns: 3fr 1fr;
    
  }

.item1 {
    margin-top: 1em;
}

.item2 {
    grid-column: 2/3;
}